.termkitTokenField {
  border: 1px dotted #eee;
  line-height: 28px;
  padding: 5px;
  
  font-family: "Lucida Grande";
/*  letter-spacing: 1px;*/
  
  cursor: text;
}

.termkitTokenField.focused {
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: -2px;
}

.termkitTokenField span#caret {
  display: inline-block;
  overflow: hidden;
  height: 28px;
  vertical-align: bottom;
}

.termkitTokenField span#caret input {
  position: absolute;
  z-index: 1;
  padding: 0;
  border: 0;
  margin: 0 0 0 -1px;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  white-space: pre-wrap;
}

.termkitTokenField span#caret input:focus {
  outline: 0;
}

.termkitTokenField span#caret span.measure {
  position: relative;
  z-index: 2;
  opacity: 0;
  white-space: pre-wrap;
}

/************/

.termkitTokenField > span.token {
  white-space: pre-wrap;
}

.termkitTokenField > span.token-plain {
  padding: 5px 8px 3px;
  -webkit-border-radius: 1em;
  margin-left: 2px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  background: #fff -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
}

.termkitTokenField > span.token-quoted {
  padding: 5px 8px 3px;
  -webkit-border-radius: 1em;
  margin-left: 2px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  background: #eee -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
/*  background: #def -webkit-gradient(linear, left top, left bottom, from(#def), to(#bcd));*/
}

.termkitTokenField > span.token-empty {
  background: none;
  padding: 0;
  margin: 0;
}