body {
  background: #000;
  color: #fff;
}

#debug {
  color: #555;
}

.termkitTokenField {
  border: 1px dotted #555;
  line-height: 22px;
  padding: 20px;
  
  font-family: "Bitstream Vera Sans Mono";
  font-size: 70%;
/*  letter-spacing: 1px;*/
  
  cursor: text;
}

.termkitTokenField.focused {
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: -2px;
}

.termkitTokenField span#caret {
  display: inline-block;
  overflow: hidden;
  height: 22px;
  vertical-align: bottom;
}

.termkitTokenField span#caret input {
  position: absolute;
  z-index: 1;
  padding: 0;
  border: 0;
  margin: 0 0 0 -1px;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  white-space: pre-wrap;
  
  color: #fff;
}

.termkitTokenField span#caret input:focus {
  outline: 0;
}

.termkitTokenField span#caret span.measure {
  position: relative;
  z-index: 2;
  opacity: 0;
  white-space: pre-wrap;
}

/************/

.termkitTokenField > span.token {
  white-space: pre-wrap;
}

.termkitTokenField > span.token-plain {
  padding: .5em .5em .3em;
  -webkit-border-radius: .25em;
  margin: 0 1px 0 0;
  -webkit-box-shadow: 0px -1px 1px rgba(255,255,255,.5);
  background: #555 -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
  color: #ccc;
}

.termkitTokenField > span.token-quoted {
  padding: .5em .75em .3em;
  -webkit-border-radius: .25em;
  margin: 0 3px 0 2px;
  -webkit-box-shadow: 0px -1px 1px rgba(210,230,255,.75);
  background: #678 -webkit-gradient(linear, left top, left bottom, from(#678), to(#456));
/*  background: #def -webkit-gradient(linear, left top, left bottom, from(#def), to(#bcd));*/
color: #ddd;
}

.termkitTokenField > span.token-empty span#caret input {
  width: 1px !important;
  margin-top: -2px;
}

.termkitTokenField > span.token-empty {
  background: none;
  padding: 0;
  margin: 0;
}