html {
  height: 100%;
}
body {
  background: #234;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 100%;
  height: 100%;
}

#debug {
  color: #555;
}

#terminal {
  background: #000;
  min-height: 100%;
}

/************/

.termkitProgressIndicator {
  width: 24px;
  height: 24px;
  margin: 10px;
  background: #000 url('../Images/loading-black.gif');
}

/************/

.termkitCommandView {
  font-family: "BitStream Vera Sans Mono";
  font-size: 70%;
  /*  letter-spacing: 1px;*/
  padding-bottom: 32px;
}

.termkitCommandView .context {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  z-index: 3;
  
  color: #ccf;
  background: #444 -webkit-gradient(linear, left top, left bottom, from(#346), to(#124));
  -webkit-box-shadow: 0 0px 10px #000;
}

.termkitCommandView .context .path {
  float: left;
}

.termkitCommandView .context .user {
  float: right;
}

.termkitCommandView .command {
  position: relative;
}

.termkitCommandView .command > span.sigil {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #ccc;
}

.termkitCommandView .command > span.sigil-ok {
  color: #9f7;
}

.termkitCommandView .command > span.sigil-warning {
  color: #ff9;
}

.termkitCommandView .command > span.sigil-error {
  color: #f77;
}

.termkitCommandView .command .termkitProgressIndicator {
  position: absolute;
  left: -2px;
  top: -1px;
}

/************/

.termkitTokenField {
  border: dotted #555;
  border-width: 1px 0;
  line-height: 22px;
  padding: 10px 10px 10px 35px;
  margin-top: -1px;
  
  cursor: text;
}

.termkitTokenField::after {
  content: ' ';
}

.termkitTokenField.focused {
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: -2px;
}

/************/

.termkitTokenField span#caret {
  display: inline-block;
  overflow: hidden;
  height: 22px;
  vertical-align: bottom;
}

.termkitTokenField span#caret input {
  position: absolute;
  z-index: 2;
  padding: 0;
  border: 0;
  margin: 0 0 0 -1px;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  white-space: pre-wrap;
  
  color: #fff;
}

.termkitTokenField span#caret input:focus {
  outline: 0;
}

.termkitTokenField span#caret > span.measure {
  position: relative;
  z-index: 2;
  opacity: 0;
  white-space: pre;
}

.termkitTokenField span.token > span.measure {
  position: absolute;
  z-index: 2;
  opacity: 0;
  white-space: pre;
}


/************/

.termkitTokenField span.autocomplete {
  position: relative;
  display: inline-block;
  overflow: visible;
  width: 0;
  line-height: 24px;
  vertical-align: top;
/*  top: -21px;*/
}

.termkitTokenField span.autocomplete .stretch {
  position: absolute;
  margin-top: -.1em;
}

.termkitTokenField span.autocomplete .lines {
}

.termkitTokenField span.autocomplete .fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0px -1px 1px rgba(128,128,128,1), 0px 1px 6px rgba(0,0,0,1), 3px 1px 6px rgba(0,0,0,1);
  -webkit-border-radius: .25em;
  background: #555 -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
}

.termkitTokenField span.autocomplete .line {
  position: relative;
  z-index: 2;
  display: block;
  white-space: nowrap;
  height: 21px;
}

.termkitTokenField span.autocomplete .line span.prefix {
  opacity: 0.5;
}

.termkitTokenField span.autocomplete .line:nth-child(2n) {
/*  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.2)), to(rgba(0,0,0,.25)));*/
}

.termkitTokenField span.autocomplete .line.active {
  background: rgba(0, 0, 0, .35);
}

.termkitTokenField span.autocomplete .line.active span.prefix {
  opacity: 0;
}

.termkitTokenField span.token-plain span.autocomplete > span {
  margin-left: -.5em;
}  

.termkitTokenField span.token-quoted span.autocomplete > span {
  margin-left: -.75em;
}  

.termkitTokenField span.token-plain span.autocomplete .line {
  padding: 0 .5em 0;
}

.termkitTokenField span.token-quoted span.autocomplete .line {
  padding: 0 .75em 0;
}

.termkitTokenField span.token-quoted span.autocomplete .fill {
  -webkit-box-shadow: 0px -1px 1px rgba(160,180,192,1), 0px 1px 6px rgba(0,0,0,1), 3px 1px 6px rgba(0,0,0,1);
  background: #678 -webkit-gradient(linear, left top, left bottom, from(#678), to(#456));
}

/************/

.termkitTokenField > span.token {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

.termkitTokenField > span.token input {
  max-width: 100%;
}

.termkitTokenField > span.token,
.termkitTokenField > span.token input {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
}

.termkitTokenField > span.token:not(:first-child)::after {
  white-space: normal;
  content: ' ';
}

.termkitTokenField > span.token:last-child::after {
  white-space: pre;
  content: ' ';
}

.termkitTokenField > span.token:after {
  font-size: 0;
  content: ' ';
  vertical-align: bottom;
}

.termkitTokenField > span.token-plain {
  padding: .5em .5em .3em;
  -webkit-border-radius: .25em;
  margin: 0 2px 0 0;
  -webkit-box-shadow: 0px -1px 1px rgba(192,192,192,.6);
  background: #555 -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
  background: #333 -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#333333));
  color: #ddd;
}

.termkitTokenField > span.token-quoted {
  padding: .5em .75em .3em;
  -webkit-border-radius: .25em;
  margin: 0 3px 0 2px;
  -webkit-box-shadow: 0px -1px 1px rgba(160,180,192,1);
  background: #578 -webkit-gradient(linear, left top, left bottom, from(#579), to(#357));
  color: #cef;

  -webkit-box-shadow: 0px -1px 1px rgba(192,192,192,1);
  background: #666 -webkit-gradient(linear, left top, left bottom, from(#777), to(#444));
  color: #eee;
}

.termkitTokenField > span.token-empty span#caret input {
  width: 1px !important;
  margin-top: -2px;
}

.termkitTokenField > span.token-empty {
  background: none;
  padding: 0;
  margin: 0;
}
