body {
  font-size: 100%;
}


.termkitCommandView {
  font-family: "BitStream Vera Sans", "Lucida Grande";
  font-size: 70%;
}

.termkitCommandView pre {
  font-family: "BitStream Vera Sans Mono", "Lucida Console";
  font-size: inherit;
  font-size: 87.5%;
}

.termkitOutputView .widgetFile .name {
/*  font-weight: bold; */
  font-size: 1em;
  line-height: 1.6;
  color: #fff;
}

.termkitOutputView .widgetFile .meta {
  font-size: 0.8em;
  color: #777;
}
